{% extends "project_base_en.html" %}

{% block title %}Zugriffsrechte{% endblock %}

{% block body %}
	<h2>Gewährte Zugriffsrechte</h2> 
	<ul>
	{% for r in rights %}
		<li value="{{ r.key }}">{{ r.user.nickname }} =&gt; {{ r.right }}</li>
	{% endfor %}
	</ul>	
	<h2>Anonyme Tickets</h2>
	<ul>
	{% for t in tickets %}
		<li value="{{ t.key }}"><a href="/summary?project={{t.key}}_{{t.code}}">{{ t.user.nickname }} &rArr; {{ t.right }} (expires {{t.expires}})</a></li>
	{% endfor %}
	</ul>
	<form action="/access?project={{accesss_key}}" method="post" enctype="multipart/form-data">
		Emailadresse
		<input type="text" name="email" size="20" value=""/>
		<input type="hidden" name="right" size="2" value="200"/>
		<input type="Submit" name="action" value="create_ticket"/>
	</form>
	{% if  invitations %}
		<h2>Uneingelöste Einladungen</h2>
		<ul>
		{% for i in invitations %}
			<li value="{{ i.key }}">{{ i.user.nickname }} &rArr; {{ i.right }} &nbsp;
		{% endfor %}
		</ul>
	{% endif %}
	<h2>Einladungen versenden</h2>
	<form action="/access?project={{accesss_key}}" method="post" enctype="multipart/form-data">
		Emailadresse
		<input type="text" name="email" size="20" value=""/>
		<input type="hidden" name="right" size="2" value="200"/>
		<input type="Submit" name="action" value="invite"/>
	</form>
{% endblock %}
