{% extends "project_base_en.html" %}

{% block head %}
	<script type="text/javascript">
	</script>
{% endblock %}

{% block body %}
	<h2>Währungen</h2> 
	{% for c in currencies %}
		<li>
			<form action="/currencies?project={{project_key}}" method="post" enctype="multipart/form-data">
				<input type="hidden" name="key" size="6" value="{{c.key}}"></input>
				<input type="text" name="factor" size="6" value="{%if c.factor %}{{c.factor}}{%else%}1{%endif%}"></input>{{ project.currency }} =
				<input type="text" name="divisor" size="6" value="{{c.divisor}}"></input>
				<input type="text" name="name" size="6" value="{{c.name}}"></input> 
				<input type="Submit" name="action" value="update"/>
				<input type="Submit" name="action" value="delete"/>
			</form>
		</li>
	{% endfor %}
		<li>
			<form action="/currencies?project={{project_key}}" method="post" enctype="multipart/form-data">
				<input type="text" name="factor" size="6" value="1"></input>{{ project.currency }} =
				<input type="text" name="divisor" size="6" value="1"></input>
				<input type="text" name="name" size="6" value="Währungsname"></input>
				<input type="Submit" name="action" value="add"/>
			</form>
		</li>
	</ul>
{% endblock %}
