<html>
<body>
<p>Hallo!</p>
<p>Du bist eingeladen die Urlaubsabrechnung <a href="http://urlaubsabrechnung.appspot.com/summary?project={{ticket.key}}_{{ticket.code}}"></a>{{project.display_name}} anzusehen!</p>
<p>Der Link <a href="http://urlaubsabrechnung.appspot.com/summary?project={{ticket.key}}_{{ticket.code}}">http://urlaubsabrechnung.appspot.com/summary?project={{ticket.key}}_{{ticket.code}}</a>
bleibt bis {{ticket.expires}} gültig.</p>
<p>Viele Grüße {{user.nickname}}</p>
</body>
</html>