{% extends "project_base_en.html" %}

{% block body %}
	<h2>Gewährte Zugriffsrechte</h2> 
	<ul>
	{% for r in rights %}
		<li value="{{ r.key }}">{{ r.user.nickname }} =&gt; {{ r.right }}</li>
	{% endfor %}
	</ul>
	
	<h2>Uneingelöste Einladungen</h2>
	<ul>
	{% for i in invitations %}
		<li value="{{ i.key }}">{{ i.user.nickname }} =&gt; {{ i.right }}</li>
	{% endfor %}
	</ul>
	
	<h2>Einladungen versenden</h2>
	<form action="/access?project={{project_key}}" method="post" enctype="multipart/form-data">
		Email adresse
		<input type="text" name="email" size="20" value=""/>
		<input type="hidden" name="right" size="2" value="255"/>
		<input type="Submit" name="action" value="invite"/>
	</form>
{% endblock %}
