<html>
<body>
<p>Hallo!</p>
<p>Du bist eingeladen die Abrechnung für "{{project.name}}" anzusehen.</p>
<p>Bitte melde Dich unter 
<a href="http://urlaubsabrechnung.appspot.com/join?project={{invitation.project.key}}&invitation={{invitation.key}}&code={{invitation.code}}">http://urlaubsabrechnung.appspot.com/join?project={{invitation.project.key}}&invitation={{invitation.key}}&code={{invitation.code}}</a>
mit einem Google Konto an!</p>
<p>Viele Grüße {{user.nickname}}</p>
</body>
</html>