{% extends "base_en.html" %}

{% block head %}
	<script type="text/javascript">
		function project_DeleteClick(key)
		{
			new Ajax.Request("/", {   
				method: 'post',
				parameters: {
					action: 'delete', 
					project: key,
				},
				onSuccess: function(transport) 
				{ 
					location.href=transport.responseText;
				},
				onFailure: function(transport)
				{
					alert(transport.responseText);
				}
			}); 
			return false;
		}
		
		function project_AddClick(event)
		{
			new Ajax.Request("/", {   
				method: 'post',
				parameters: {
					action: 'add', 
					name: $F('project_name'),
					currency: $F('project_currency'),					
				},
				onSuccess: function(transport) 
				{ 
					location.href=transport.responseText;
				},
				onFailure: function(transport)
				{
					alert(transport.responseText);
				}
			}); 
			return false;
		}
	</script>
{% endblock %}

{% block buttons %}
<span class="item">
	<input type="button" onclick="location.href='/'" value="Projektliste"/>
</span>
{% endblock %}

{% block body %}
	{% if message %}{{ message }}{% endif %}
	<h1>Meine Projekte</h1>
	<ul>
	{% for project in projects %}
		<li>{{ project.name }} {{ project.rights }}
			<a href="/summary?project={{ project.id }}">[Report]</a>&nbsp;
			<a href="/transactions?project={{ project.id }}">[Transaktionen]</a>&nbsp;
			<button id="project_add" type="submit" name="Action" value="Delete" onclick="project_DeleteClick('{{ project.id }}')">Projekt aus meiner Liste entfernen</button>
		</li>
	{% endfor %}	
	</ul>
	<form id="newProjectForm" enctype="multipart/form-data" onsubmit="return false;">
		<fieldset>
			<legend>Neues Projekt anlegen...</legend>
			<label for="project_name">Name</label>
			<input id="project_name" type="text" name="TEXT" size="20" VALUE=""/>
			<br/>
						
			<label for="project_currency">Grundwährung</label>
			<input id="project_currency" type="text" name="TEXT" size="5" VALUE="€"/>
			<br/>
						
			<label for="project_add">Projekt</label>
			<button id="project_add" type="submit" name="Action" value="Add" onclick="project_AddClick()">Erstellen...</button>
		</fieldset>
	</form>
{% endblock %}
