{% extends "base_en.html" %}

{% block buttons %}
<span class="item">
	{%if token %}
		{%if token.HasProjectList %}
			<input type="button" onclick="location.href='/'" value="Projektliste"/>
		{%endif%}
		{%if token.RightView %}
			<input type="button" onclick="location.href='/summary?token={{token.Token}}'" value="Report"/>
		{%endif%}
		{%if token.RightEdit %}
			<input type="button" onclick="location.href='/transactions?token={{token.Token}}'" value="Transaktionen"/>
			<input type="button" onclick="location.href='/accounts?token={{token.Token}}'" value="Konten"/>
			<input type="button" onclick="location.href='/currencies?token={{token.Token}}'" value="Währungen"/>
		{%endif%}
		{%if token.RightManage %}			
			<input type="button" onclick="location.href='/access?token={{token.Token}}'" value="Zugriff/Einladungen"/>
		{%endif%}
		{%if token.RightView %}
			<input type="button" onclick="location.href='/projectsettings?token={{token.Token}}'" value="Einstellungen"/>
		{%endif%}
	{%else%}
		<input type="button" onclick="location.href='/'" value="Startseite"/>
	{%endif%}
</span>
{% endblock %}

{% block body %}
{% endblock %}
