{% extends "base_en.html" %}

{% block buttons %}
<span class="item">
	{%if project_list_enabled %}
		<input type="button" onclick="location.href='/'" value="Projektliste"/>
	{%endif%}
	{%if project %}
		{%if project.RightView %}
			<input type="button" onclick="location.href='/summary?project={{ accesss_key }}'" value="Report"/>
		{%endif%}
		{%if project.RightEdit %}
			<input type="button" onclick="location.href='/transactions?project={{ accesss_key }}'" value="Transaktionen"/>
			<input type="button" onclick="location.href='/accounts?project={{ accesss_key }}'" value="Konten"/>
			<input type="button" onclick="location.href='/currencies?project={{ accesss_key }}'" value="Währungen"/>
		{%endif%}
		{%if project.RightManage %}			
			<input type="button" onclick="location.href='/access?project={{ accesss_key }}'" value="Zugriff/Einladungen"/>
		{%endif%}
	{%endif%}
</span>
{% endblock %}

{% block body %}
{% endblock %}
