{% extends "base_en.html" %}

{% block title %}
	{{ application_name }}&nbsp;-&nbsp;{{ project.name }}
{% endblock %}

{% block buttons %}
<span class="item">
	<input type="button" onclick="location.href='/'" value="Projektliste"/>
	{%if project %}
		{%if project.RightReport %}
			<input type="button" onclick="location.href='/summary?project={{ project_key }}'" value="Report"/>
		{%endif%}
		{%if project.RightTransaction %}
			<input type="button" onclick="location.href='/transactions?project={{ project_key }}'" value="Transaktionen"/>
		{%endif%}
		<input type="button" onclick="location.href='/accounts?project={{ project_key }}'" value="Konten"/>
		<input type="button" onclick="location.href='/currencies?project={{ project_key }}'" value="Währungen"/>
		<input type="button" onclick="location.href='/access?project={{ project_key }}'" value="Zugriff/Einladungen"/>
	{%endif%}
</span>
{% endblock %}

{% block head %}
<script type="text/javascript">
	project_id = "{{ project_key }}";
</script>
{% endblock %}

{% block body %}
{% endblock %}
