{% extends "project_base_en.html" %}

{% block title %}Report{% endblock %}

{% block head %}
    <link href="/static/css/TSorter_1.css" rel="stylesheet" type="text/css"/>
	<script type="text/javascript" src="/static/javascript/TSorter_1.js"></script>
{% endblock %}

{% block script %}
  	// run some startup code
	document.observe("dom:loaded", function ()
	{  			
		var transactionTableSorter = new TSorter;
		transactionTableSorter.init('transactionTable');
	});
{% endblock %}


{% block body %}	
	<h3>Ergebnis</h3>
		<table class="smallFont">
			<thead>
				<tr>
					<th>Name</th>
					<th>Summe</th>
					<th>Einzahlung</th>
					<th>Auszahlung</th>
					<th>Gruppenanteile</th>
				</tr>
			</thead>
			<tbody>
			{% for person in project.persons.values %}
				<tr>
					<td>{{person.name}}</td>
					<td style="text-align:right;">{{person.sum|floatformat:2}}{{project.currency}}</td>
					<td style="text-align:right;">{{person.credit|floatformat:2}}{{project.currency}}</td>
					<td style="text-align:right;">{{person.debit|floatformat:2}}{{project.currency}}</td>
					<td style="text-align:right;">{{person.group_part|floatformat:2}}{{project.currency}}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	<h3>Transaktionen</h3>
	<table id="transactionTable" class="smallFont sortable">
		<thead>
			<tr>
				<th class="sortable">Datum</th>
				<th class="sortable">Was</th>
				<th class="sortable" abbr="currency">Wert</th>
				<th class="sortable">Von</th>
				<th class="sortable">An</th>
				{% for person in project.persons.values %}
					<th class="sortable" abbr="currency">{{person.name}}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for t in project.transactions %}
			<tr id="{{ t.key }}" class="{% if t.check %}check{% endif %}" title="Letzte Änderung erfolgte am {{ t.lastmod|date:"Y-m-d" }} um {{ t.lastmod|time }} durch {{ t.user.nickname }}.">
				<td>{{t.date|date:"Y-m-d"}}</td>
				<td>{{t.text}}</td>
				<td style="text-align:right;">{{t.ammount|floatformat:2}}{{t.CurrencyName}}</td>
				<td>{{t.source.name}}</td>
				<td>{{t.dest.name}}</td>
				{% for v in t.affected %}
					{%if v.negative %}
					<td style="color: red; text-align:right;">{{v.value|floatformat:2}}{{project.currency}}</td>
					{%else%}
						{%if v.positive %}
						<td style="color: black; text-align:right;">{{v.value|floatformat:2}}{{project.currency}}</td>
						{%else%}
						<td></td>
						{% endif %}
					{% endif %}
				{% endfor %}  					
			</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr class="results">
				<td colspan="5">Endergebnis (Negativ=Soll, Positiv=Haben)</td>
				{% for person in project.persons.values %}
					<td style="text-align:right;">{{person.sum|floatformat:2}}{{project.currency}}</td>
				{% endfor %}
			</tr>
		</tfoot>
	</table>
	<h3>Gruppen</h3>
	<ul>
		{% for group in project.groups.values %}
		<li>{{group.name}} {{ group.credit_minus_debit|floatformat:2 }} (H:{{ group.credit|floatformat:2 }} S:{{ group.debit|floatformat:2 }}) &rArr;  {% for m in group.members %} {{m.name}}({{m.weight}}/{{group.sum}}={{m.part|floatformat:1}}%)&nbsp;{% endfor %}				
		</li>
		{% endfor %}
	</ul>	
	<h3>Währungen</h3>
	<ul>
		{% for c in project.currency_set %}
			<li>{{c.factor}}&nbsp;{{project.currency}}&nbsp;=&nbsp;{{c.divisor}}&nbsp;{{c.name}}</li>
		{% endfor %}
	</ul>
{% endblock %}
